<header id="header">
    <div class="overlay">
        <div class="d-flex">
            <h1>TODO</h1>
            <img class="one" src="assets/images/icon-sun.svg" alt="" id="night" (click)="nightmood()">
            <img class="moon" src="assets/images/icon-moon.svg" alt="" id="moon" (click)="darkmood()">
        </div>

        <div class="input-group mb-3">
            <div class="input-group-text" id="basic-addon1" #task>
                <div class="circle" (click)="addTask()"></div>
            </div>
            <input type="text" id="text" class="form-control" placeholder="Create a new todo..." aria-label="Username" aria-describedby="basic-addon1">

        </div>
    </div>
</header>
<main id="main">
    <div class="container">
        <ul class="list-group" (cdkDropListDropped)="drop($event)">
            <li class="list-group-item " cdkDrag *ngFor="let item of all; let i=index" [ngClass]="{'completed':item.completed===true}">
                <div class="d-flex">
                    <div class="circle" (click)="checked(i)"></div>
                    <span>{{item.name}}</span>
                    <img class="close" src="assets/images/icon-cross.svg" alt="" (click)="deleteItem(i)">
                </div>
            </li>

            <div class="control d-flex">

                <div class="item-left">{{list}} item left</div>
                <div class="buttons">
                    <button id="all" class="active" (click)="allList()">  All</button>
                    <button id="active" (click)="activeList()">Active</button>
                    <button id="complete" (click)=" completedList()">Complete</button>
                </div>
                <button id="deletecomplete" (click)=" deletecompletedList()">Clear completed</button>

            </div>
        </ul>


    </div>
</main>